/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-rm-swiper-container {
    overflow: scroll;
    max-width: 100vw;
}


swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    .wp-block-cover {
        min-width: 100%;
    }
}
