/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-rm-swiper-container__outer-wrapper {
  overflow: hidden;
  &.should-overflow {
    overflow: visible;
  }
  & > div   {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.wp-block-rm-swiper-container__inner-wrapper {
  display: grid;
  grid-template-columns: repeat(var(--slides), var(--per-view));
  min-width: var(--slider-width);
  width: var(--slider-width);
  gap: var(--space-between);
}
